.card {
  margin-top: 16px;
  padding-bottom: 16px;
}
.cardBlock1 {
  width: 255px;
  height: 397px;
  box-shadow: 0px 4px 15px rgba(36, 86, 151, 0.1);
  border-radius: 5px;
}
.card:hover {
  width: 260px;
  height: 400px;
  box-shadow: 0px 4px 15px rgba(36, 86, 151, 0.1);
}
.items {
  display: flex;
  justify-content: space-between;
}
.cardImg {
  width: 200px;
  height: 206px;
  border: radius 3px;
}
.cardPrice {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #0a142f;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 5px;
  margin-top: 10px;
}
.cardDes {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #0a142f;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 28px 0px;
}
.cardAdress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #9aa6b6;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}
.item {
  width: 255px;
  margin-bottom: 16px;
  box-shadow: 0px 4px 15px rgba(36, 86, 151, 0.1);
  border-radius: 5px;
  padding: 10px;
}
